.app {
  max-width: 1440px;
  position: relative;
  /*width: 92%;*/
  /*margin-top: 20px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: flex-start;*/
  /*align-items: center;*/
}
