.canvas__container {
  width: 480px;
  height: 360px;
  margin-top: 100px;
  margin-left: 50px;
  padding: 0;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
  /*border: 1px black solid;*/
}

.canvas__frame {
  width: 100%;
  height: 100%;
}

.image__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
}

.image__delete-btn {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 2px;
  right: -30px;
  cursor: pointer;
  font-size: 22px;
  color: white;
}