.upload__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  /*border: 1px red solid;*/
  position: absolute;
  right: 0;
  top: 0;
}
.upload__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-bottom: 10px;
  flex-grow: 1;
  /*border: 1px black solid;*/
}

.header h2 {
  min-width: fit-content;
  /*border: 1px green solid;*/
}
.server-message {
  /*width: 100%;*/
  padding: 16px;
  border-radius: 5px;
  border: 1px green solid;
}

.uppload__input-container {
  width: 50%;
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dotted black;
  background-color: white;
  position: relative;
}

.uppload__input-container .browse {
  color: black;
  font-weight: bold;
}

.upload__input-file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}