.canvas-container {
    /*margin-top: 100px;*/
    /*margin-left: 100px;*/
    /*margin-top: 100px;*/
    /*margin-left: 450px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px red solid;
}
.canvas-frame {
    height: 500px;
    width: 500px;
    border: 2px black solid;
}